<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Lista de Notas</title>
    <meta charset="UTF-8">
</head>
<body>
    <h1>Lista de Notas</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Contenido</th>
                <th>Fecha creación</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="note: ${notes}"> 
                <td th:text="${note.id}"></td>
                <td th:text="${note.title}"></td>
                <td th:text="${note.content}"></td>
                <td th:text="${#temporals.format(note.getCreationDate(), 'dd-MMM-yyyy')}"></td>
            </tr>
        </tbody>
    </table>
    <p th:text="${notes.size()}"></p>
    <p><a th:href="@{/menu}">Volver al menú</a></p>
</body>
</html>