<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="fragments/head :: head">
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <h1>Lista de Notas</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Contenido</th>
                <th>Categoría</th>
                <th>Fecha creación</th>
                <th>Última modificación</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="note: ${notes}">
                <td th:text="${note.id}"></td>
                <td th:text="${note.title}"></td>
                <td th:text="${note.content}"></td>
                <td th:text="${note.category == null ? 'Sin categoría' : note.category.getName()}"></td>
                <td th:text="${#temporals.format(note.getCreationDate(), 'dd-MMM-yyyy')}"></td>
                <td th:text="${#temporals.format(note.getUpdatedAt(), 'dd-MMM-yyyy hh:mm:ss')}"></td>
                <td>
                    <form action="#" th:action="@{/edit-note/{id}(id=${note.id})}" method="get">
                        <input type="submit" value="Editar"/>
                    </form>
                </td>
                <td>
                    <form action="#" th:action="@{/delete-note/{id}(id=${note.id})}" method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <input type="submit" value="Eliminar"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <p th:text="${notes.size()}"></p>
        <p><a th:href="@{/menu}">Volver al menú</a></p>
    </div>
</body>
<footer th:replace="fragments/footer :: scripts_bootstrap"></footer>
</html>