<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Añadir Nueva Nota</title>
    <meta charset="UTF-8">
</head>
    <body>
        <h1>Añadir Nueva Nota</h1>
        <form action="#" th:action="@{/create-note}" th:object="${note}" method="post">
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" th:field="*{title}"/><br>
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red;">[Error de Título]</span><br>


            <label for="content">Contenido:</label>
            <textarea id="content" name="content" th:field="*{content}"></textarea><br><br>

            <label for="categoria">Categoría:</label>
            <select id="categoria" th:field="*{category}">
                <option value="">-- Selecciona una Categoría --</option>
                <option th:each="cat : ${categories}"
                        th:value="${cat.categoryId}"
                        th:text="${cat.name}">
                </option>
            </select>

            <button type="submit">Guardar Nota</button>
        </form>
        <p><a th:href="@{/menu}">Volver al menú</a></p>
    </body>
</html>