<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="fragments/head :: head">
    <title></title>
</head>
    <body>
    <div class="container-fluid">
        <h1 class="my-4">Añadir Nueva Nota</h1>

        <form th:action="@{/create-note}"
              th:object="${note}"
              method="post"
              class="needs-validation"
              novalidate>

            <!-- Título -->
            <div class="mb-3">
                <label for="title" class="form-label">Título</label>
                <input type="text"
                       id="title"
                       th:field="*{title}"
                       class="form-control"
                       required>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}"
                     th:errors="*{title}">Error en el título</div>
            </div>

            <!-- Contenido -->
            <div class="mb-3">
                <label for="content" class="form-label">Contenido</label>
                <textarea id="content"
                          th:field="*{content}"
                          class="form-control"
                          rows="5"
                          required></textarea>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('content')}"
                     th:errors="*{content}">Error en el contenido</div>
            </div>

            <!-- Categoría -->
            <div class="mb-3">
                <label for="categoria" class="form-label">Categoría</label>
                <select id="categoria"
                        th:field="*{category}"
                        class="form-select"
                        required>
                    <option value="">-- Selecciona una Categoría --</option>
                    <option th:each="cat : ${categories}"
                            th:value="${cat.categoryId}"
                            th:text="${cat.name}"
                            th:selected="${cat.categoryId == note.category?.categoryId}">
                    </option>
                </select>
                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('category')}"
                     th:errors="*{category}">Error en la categoría</div>
            </div>

            <!-- Botón de envío -->
            <button type="submit" class="btn btn-primary">Guardar Nota</button>
        </form>

        <p class="mt-3"><a th:href="@{/menu}" class="link-secondary">Volver al menú</a></p>
    </div>

    </body>
<footer th:replace="fragments/footer :: scripts_bootstrap"></footer>
</html>